<!doctype>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Express Boilerplate Template</title>
  <link rel="stylesheet" href="stylesheets/main.css" />
</head>
<body>

  {{> header}}

  {{{body}}}

  {{> footer}}

  <script src="javascripts/main.js" type="text/javascript"></script>
</body>
</html>
