body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  padding:50px;
  background-color:orange;
}

div.content {
  padding:50px;
  text-align:center;
}

footer {
  padding:50px;
  text-align:center;
  background-color:green;
}
